<h1>Inscription</h1>
<p>Inscrivez vous sur CineQuest</p>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %> 
  <%= f.label "Pseudo" %>:    
  <%= f.text_field :pseudo, placeholder:"xXxD4rKxXx" %><p>30 caractères max</p><br/>

  <%= f.label "Nom" %>:    
  <%= f.text_field :nom, placeholder:"John" %>
  <%= f.label "Prenom" %>:    
  <%= f.text_field :prenom, placeholder:"Rambo" %><br/>
  
  <%= f.label "e-mail" %>:
  <%= f.text_field :email, placeholder:"hi@cinequest.fr"  %><br/>
  
  <%= f.label "Mot de passe" %>:
  <%= f.password_field :password %><p>20 caractères max</p><br/>
  <!-- img avec ajax check de l'url pour l'afficher -->
  <%= f.label "URL de l'image de profil" %>:    
  <%= f.text_field :url_img, placeholder:"http://img.jpg" %><br/> 
  <br/> 
  <%= f.submit "Que l'aventure commence !" %> 
<% end %>