<h1>Profil de <%= @user.pseudo %></h1>
<h3><%= @user.nom %> <%= @user.prenom %></h3>
<img src=<%= @user.url_img %> alt="Photo de profil" />

<p>Crédit(s) : <%= @user.credits %></p>

<p>Gold Crédit(s) : <%= @user.r_credits %></p>

<h4>Quètes proposées</h4>
<ul>
  <% @user.posts.each do |post| %>
    <li>
      <p><%= post.url_img %></p>
    </li>
  <% end %>
</ul>