<header id="main_header">
  <h1><%= link_to "CineQuest", :root %></h1>
  <h2>Prenez part à l'épique bataille des noms de films</h2>
  <% if logged_in? %>
    <%= link_to user_url(current_user.pseudo), class: "header_profil_img" do %>
      <%= image_tag current_user.url_img, alt: "Photo de profil" %>
    <% end %>
  <% else %>
    <%= link_to "Inscrivez-vous", :signin, class: "header_signin" %>
  <% end %>
  <% if logged_in? %>
    <%= link_to "Je pars", :logout, class: "header_logout" %>
  <% else %>
    <%= link_to "Login", :login, class: "header_login" %>
  <% end %>
</header>