<header id="main_header">
  <h1><%= link_to "CineQuest", :root %></h1>
<!--  <h2>A la quête d'un nom de film</h2>-->
  <h2>Prenez part à l'épique bataille des noms de films</h2>
  <% if logged_in? %>
    <% photo_profil = image_tag current_user.url_img, alt: "Photo de profil" %>
    <%= link_to photo_profil, user_url(current_user.pseudo), class: "header_profil_img" %>
  <% else %>
    <%= link_to "Inscrivez-vous", :signin, class: "header_signin" %>
  <% end %>
  <% if logged_in? %>
    <%= link_to "Je pars", :logout, class: "header_logout" %>
  <% else %>
    <%= link_to "Login", :login, class: "header_login" %>
  <% end %>
</header>