<section id="main">

  <div id="quests">
      <ul id="quests_list">
      <% @posts.each do |post| %>
        <li>
          
          <%= link_to post, remote: true  do %>
           
            <% if post.found %>
              <p class="ql_found">Trouvée</p>
            <% end %>
            <div class="ql_img min_quest_picture">
              <%= image_tag post.url_img, alt: "Vignette de la quète" %>
            </div>
            <div class="ql_content">
              <h1>Quête <span class="ql_nbr">#<%= post.id %></span></h1>
              <p class="ql_infos"><%= time_ago_in_words(post.created_at) %> par <%= link_to post.user.pseudo, user_url(post.user.pseudo) %></p>
            </div>
            
          <% end %>

        </li>
      <% end %>
      </ul>
      <%= link_to "Nouvelle quète !", new_post_path %>
  </div>
  
  <div id="quest">
    
  </div>

</section>