<section id="main">

  <div id="liste_quetes">
      <ul>
          <% @posts.each do |post| %>
            <li>
              <p>Proposé par : <%= link_to post.user.pseudo, user_url(post.user.pseudo) %></p>
              <span class="post-date"><small><%= time_ago_in_words(post.created_at) %></small></span>
              <%= link_to post, remote: true  do %>
                <img src=<%= post.url_img %> alt="L'image de la quète" />
                <% if post.found %>
                  <p style="color:green;">Trouvé !</p>
                <% end %>
              <% end %>
            </li>
          <% end %>
      </ul>
      <%= link_to "Nouvelle quète !", new_post_path %>
  </div>
  
  <div id="quete_unique">

  </div>

</section>