<h1>Quete n°<%= @post.id %></h1>

<p>Proposé par <%= link_to post.user.pseudo, user_url(post.user.pseudo) %></p>
<!--<span class="post-date"><small><%= time_ago_in_words(post.created_at) %></small></span>-->

<img src=<%= @post.url_img %> alt />

<% if @post.found %>
  <h3 style="color:green;">Cette image à trouvé son film :</h3>
  <a href=<%= @post.url_film %> target="_blank" ><h3><%= @post.film_name %></h3></a>
<% end %>

<% if logged_in? %>
  <% unless @post.found || current_user.id == @post.user.id || @post.closed %>
    <div id="comment-form">
      <%= render 'comments/comment_form' %>
    </div>
  <% end %>
<% end %>

<div id="comments-list">
  <%= render partial: @post.reload.comments %>
</div>
