<section class="a_quest">
    <header class="q_img_content">
       <div class="q_img_wrapper">
           <%= image_tag sanitize(@post.url_img), alt: "La capture du film", class:"cqLightbox", cqLightlink: sanitize(@post.url_img) %>
       </div>
       <div class="q_img_overlay">
           <h1>
                <p class="white uppercase_font">&nbsp;#<%= @post.id %> par </p>
                <%= link_to sanitize(@post.user.pseudo).downcase, user_url(@post.user.pseudo), class:'white uppercase_font', target: '_blank' %>
           </h1>
           <p class="q_difficulty q_difficulty_<%= @post.difficulty %> white uppercase_font">difficulté</p>
           <span class="zoom_in cqLightbox" cqLightlink=<%= sanitize(@post.url_img) %>></span>
       </div>
    </header>
    
    <div class="q_text_wrapper">
        <% if logged_in? %>
            <% unless @post.found || current_user.id == @post.user.id || @post.closed %>
                <section id="comment_form" class="q_answer q_text_action">
                     <div class="min_profile_picture q_text_picture"><%= image_tag current_user.url_img, alt:"Photo de profil" %></div>
                     
                    <% if @post.difficulty == 0 && !@post.clue.nil? %>
                        <a class="blue uppercase_font show_indice">Voir l'indice</a>
                    <% end %>

                    <%= render 'comments/comment_form' %>
                </section>
            <% end %>
        <% end %>

        <% if @post.difficulty == 0 && !@post.clue.nil? %>
            <section class="q_clue q_text_action">
                <p class="blue lowercase_regular_font"><%= sanitize(@post.clue) %></p>
                <% if logged_in? %>
                    <% if current_user.id != @post.user.id %>
                        <a>Cacher l'indice</a>
                    <% end %>
                <% end %>
            </section>
        <% end %>

        <% if @post.found %>
            <section class="q_title q_text_action blue lowercase_light_font">
                <h1><%= sanitize(@post.film_name) %></h1>
                <a href=<%= sanitize(@post.url_film) %> target="_blank" class="q_film_link_label" ></a>
                <% if @post.difficulty == 0 && !@post.clue.nil? %>
                    <a class="blue uppercase_font show_indice">Voir l'indice</a>
                <% end %>
            </section>
        <% end %>
    </div>

    <footer id="comments_list">
      <%= render partial: @post.reload.comments %>
    </footer>
</section>
