<h1>Quest n°<%= @post.id %></h1>
<img src="<% @post.url_img %>" alt />
<% if @post.found %>
  <a href=<%= @post.url_film %> target="_blank" ><h3><%= @post.film_name %></h3></a>
<% end %>
<div id="comment-form">
  <%= render 'comments/form' %>
</div>
<ul>
<%= @post.comments.each do |comment| %>
  <li>
    <p><%= comment.message %></p>
  </li>
<% end %>
</ul>