<!DOCTYPE html>
<html>
    <head>
      <title>CineQuest</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>

    <%= render 'shared/header' %>
    
    <section id="main"> 
    
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><p class="lowercase_light_font white"><%= message %></p></div>
        <% end %>
        
        <div id="lightbox">
            <a id="lightbox_close" class="uppercase_font action_btn white submit_btn">fermer</a>
            <img src="http://aws.vdkimg.com/film/5/2/9/8/52988_backdrop_scale_1280xauto.jpg" alt="" />
        </div>

        <%= yield %>
    
    </section>
    
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    </body>
</html>
